  body {
    display: grid;
    /*place-items: center; /* Centra vertical y horizontalmente */
    background-color: cornflowerblue;
    color: black;
  }
  
  .grid-container {
    text-align: center; /* Opcional: centra texto */
  }

  .titulo{
    margin-top: 50px;
    margin-bottom: 2px;
  }
  .subtitulo {
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  .login {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh; /* Ocupa toda la altura de la ventana */
  }
  
  .login-con-bordes {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
  margin-top: 50px; /* o la cantidad que necesites */
  padding: 20px 0;
}
