  body {
    display: grid;
    /*place-items: center; /* Centra vertical y horizontalmente */
    background-color: beige;
    color: black;
  }
  
  .grid-container {
    text-align: center; /* Opcional: centra texto */
  }

  .titulo{
    margin-top: 50px;
    margin-bottom: 2px;
  }
  .subtitulo {
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  .login {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh; /* Ocupa toda la altura de la ventana */
  }
  
  